/******************************* FOOTER ********************************/
.footer{
    height: 404px;
    background-color: rgb(210, 203, 203);
    width: 75%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer .footer-header p{
    margin: 0;
    text-align: center;
    font-size: 1rem;
 
}
.footer .footer-header{
    width: 75%;
    padding: 10px 20px;
    margin: 20px 0;
    box-shadow:   2px 8px 16px rgb(0 0 0/10%);
}
.footer .over-line{
    width: 90%;
    border-bottom: 2px solid black;
}
.footer-center{
    padding: 20px 0;
}
.footer-center .logo img{
    margin-left: 10px;
   margin-top: 4px;
  width: 100px;
   
}
.footer-center .suivre{
    text-align: center;
}
.footer-center .suivre h6{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.footer-center .suivre > div{
    padding: 5px 0;
}
.footer-center .suivre i{
    color: rgb(153, 39, 153);
    font-size: 2rem;
    cursor: pointer;
}
.footer-center .suivre i:hover{
    font-size: 2.1rem;
}
.footer-center .contacts{
    font-weight: bold;
  
}
.footer-center .contacts .mail:hover{
    cursor: pointer;
    text-decoration: underline;
}
.footer-center .autres{
    text-align: center;
}
.footer-center .autres img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.footer-bottom{
    text-align: center;
    background-color: black;
    color: white;
    box-shadow: 2px 8px 16px rgba(0 0 0/50%);
}
.footer-bottom p{
    margin: 0;
    padding: 20px 0;
}